.container {
  max-width: $container-width;
  width: 100%;
  padding: 0 $col-padding;
  margin: 0 auto;
}

.full-container {
  width: 100%;
  padding: 0 $col-padding;
}

.row {
  margin-left: -$col-padding;
  margin-right: -$col-padding;

  &:before, &:after {
    content: '';
    display: table;
    clear: both;
  }
}

[class*="col-"],
[class^="col-"] {
  float: left;
  padding: 0 $col-padding;
}


.col-4 {
  width: 4 * (100% / 12);
}


.col-6 {
  width: (100% / 2);
}


.col-offset-3 {
  margin-left: (100% / 4);;
}


.col-offset-7 {
  margin-left: 7 * (100% / 12);
}


