$head-font: Source Sans Pro, sans-serif;
$text-font: Open Sans, sans-serif;
$font-color: #81868e;
$font-size: 14px;
$font-height: 1.5; //line-height
$font-weight: 300;
$color-bg: #fff;


/** Grid variables **/
$container-width: 1170px;
$col-padding: 15px;